<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greetingService" class="com.example.demo.service.GreetingService" />

    <bean id="messageConsumer" class="com.example.demo.consumer.MessageConsumer">
        <constructor-arg ref="greetingService"/>
    </bean>

</beans>